.principal{
    background-color:#303030;
}

.navbarme{
    background-color: #171717;
}

.navbar {
    color: white;
}


.center {
    position: relative;
    width: 200px;
    height: 500px;
    margin: 0 auto;
}

.titulo {
    color: rgb(255, 255, 255);
    font-family: 'FORQUE', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 5%;
}

.subtitulo {
    color: #f0ad71;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 5%;
}

.subtitulo2 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 16px;
    position: absolute;
    margin: 10px 0 10px 15px;
    line-height: 1.5; 
    top: 50%;
    left: 5%;
}

.botonesprincipal {
    position: absolute;
    margin: 10px 0 10px 15px;
    line-height: 3.0; 
    top: 70%;
    left: 5%;
}